<div [ngFormModel]="form">
    <div>
        <label [attr.for]="control.key" class="mdl-textfield__label">{{(control.label || control.key) | humanize}}</label>
        <div [ngSwitch]="control.controlType">
            <md-input *ngSwitchWhen="textBox" [ngControl]="control.key"
                   [id]="control.key" [type]="control.type" class="mdl-textfield__input"></md-input>
            <select [id]="control.key" *ngSwitchWhen="dropDown" [ngControl]="control.key">
                <option *ngFor="let opt of control.options" [value]="opt.id"
                        [selected]="opt.id == control.value">
                    {{opt.displayName}}
                </option>
            </select>
        </div>
    </div>
    <control-messages [control]="control.key"></control-messages>
</div>