<div class="top-nav">
    <div ptContainerSwitcher>
        <pt-top-nav [menuItems]="topMenuItems"></pt-top-nav>
    </div>
</div>
<div class="page-head">
    <div ptContainerSwitcher>
        <pt-bread-crumb></pt-bread-crumb>
    </div>
</div>
<div class="page-content">
    <div ptContainerSwitcher>
      <a [routerLink]="['service-user']">
        Service User Manager
      </a>
      <router-outlet></router-outlet>
    </div>

</div>

<footer class="pb-1">
    <div ptContainerSwitcher>
        <div class="page-footer pt-1">
            <pt-footer></pt-footer>
        </div>
    </div>
</footer>
