.page-head {
  position: relative;
  padding-top: 10px;
  background-color: #fafafa;
}

.top-nav {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.page-content {
  min-height: 200px;
}

.page-footer {
  border-top: 1px solid lightgray;
}